body {
	font-family: "Roboto",sans-serif;
	font-size: 1.2em;
	color: ##FFE5B4;
}

h1 {
    font-family: "Roboto",sans-serif;
    font-size: 20px;
}
p {
	font-family: "Roboto",sans-serif;
	font-size: 1.2em;
}

h2 {
   font-family:"Roboto",sans-serif;
   font-size: 20px;
}
h3 {
   font-family:"Roboto",sans-serif;
   font-size: 20px;
}
h4 {
   font-family:"Roboto",sans-serif;
   font-size: 20px;
}
a {
    color: #ff9595;
  }
#header {
 	 background-color: #FFE5B4;
 	 width: 100%;
 	 position:fixed;
 	 z-index:100;
 	 }
#footer {
   background-color: red;
   width: 90%;
   height:auto;
   padding:5%,
   color: red;
   }
a:link {
   text-decoration: none;
   border-bottom: 1px;
 }
a:hover {
   color: purple;
   }
